/* @settings

name: Nord by Nordwest
id: nxno-style
settings:

# Tasks :: Options

-
    id: nxno-status-bar-header
    title: Task Icon Options
    description: Select Task Icons
    type: heading
    level: 2
    collapsed: false
-
    id: theme-alternative-checkboxes
    title: Task Icon Set
    type: variable-select
    default: Default Theme Set
    options:
    -
        label: Default Theme Set
        value: enabled
    -
        label: Reference Set (Created by Damian Korcz)
        value: reference
    -
        label: Disable Set
        value: disabled

# Credits

-
    id: nxno-support
    title: Support Nord by Nordost
    description: If you like the theme, here are some ways to support development
    type: heading
    level: 1
    collapsed: true
-
    id: nxno-url-star-repo
    title: Star the Theme on GitHub
    description: "[https://github.com/namtrah/nxno](https://github.com/namtrah/nxno)"
    type: info-text
    markdown: true
-
    id: nxno-url-submit-issue
    title: Submit an Issue on GitHub
    description: "[https://github.com/namtrah/nxno/issues](https://github.com/namtrah/nxno/issues)"
    type: info-text
    markdown: true

*/
:root
{
    --dark0_x:  46,52,64; /* #2e3440 */
    --dark0:    rgb(var(--dark0_x));
    --nord0:    rgb(var(--dark0_x));
    --dark1_x:  59,66,82; /* #3b4252 */
    --dark1:    rgb(var(--dark1_x));
    --nord1:    rgb(var(--dark1_x));
    --dark2_x:  67,76,94; /* #434c5e */
    --dark2:    rgb(var(--dark2_x));
    --nord2:    rgb(var(--dark2_x));
    --dark3_x:  76,86,106; /* #4c566a */
    --dark3:    rgb(var(--dark3_x));
    --nord3:    rgb(var(--dark3_x));

    --light0_x: 216,222,233; /* #d8dee9 */
    --light0:   rgb(var(--light0_x));
    --nord4:    rgb(var(--light0_x));
    --light1_x: 229,233,240; /* #e5e9f0 */
    --light1:   rgb(var(--light1_x));
    --nord5:    rgb(var(--light1_x));
    --light2_x: 236,239,244; /* #eceff4 */
    --light2:   rgb(var(--light2_x));
    --nord6:    rgb(var(--light2_x));
    --light3_x: 255,255,255; /* #ffffff */
    --light3:   rgb(var(--light3_x));

    --frost0_x: 143,188,187; /* #8fbcbb */
    --frost0:   rgb(var(--frost0_x));
    --nord7:    rgb(var(--frost0_x));
    --frost1_x: 136,192,208; /* #88c0d0 */
    --frost1:   rgb(var(--frost1_x));
    --nord8:    rgb(var(--frost1_x));
    --frost2_x: 129,161,193; /* #81a1c1 */
    --frost2:   rgb(var(--frost2_x));
    --nord9:    rgb(var(--frost2_x));
    --frost3_x: 94,129,172; /* #5e81ac */
    --frost3:   rgb(var(--frost3_x));
    --nord10:    rgb(var(--frost3_x));

    --red_x:    191,97,106; /* #bf616a */
    --red:      rgb(var(--red_x));
    --nord11:    rgb(var(--red_x));
    --orange_x: 208,135,112; /* #d08770 */
    --orange:   rgb(var(--orange_x));
    --nord12:    rgb(var(--orange_x));
    --yellow_x: 235,203,139; /* #ebcb8b */
    --yellow:   rgb(var(--yellow_x));
    --nord13:    rgb(var(--yellow_x));
    --green_x:  163,190,140; /* #a3be8c */
    --green:    rgb(var(--green_x));
    --nord14:    rgb(var(--green_x));
    --purple_x: 180,142,173; /* #b48ead */
    --purple:   rgb(var(--purple_x));
    --nord15:    rgb(var(--purple_x));
}

body
{
    --accent-h: 354; /* --red #bf616a */
    --accent-s: 42%;
    --accent-l: 56%;

    --link-decoration:                none;
    --link-decoration-hover:          none;
    --link-external-decoration:       none;
    --link-external-decoration-hover: none;

    --tag-decoration:                 none;
    --tag-decoration-hover:           underline;
    --tag-padding-x:                  .5em;
    --tag-padding-y:                  .2em;
    --tag-radius:                     .5em;

    --tab-font-weight:                600;
    --bold-weight:                    600;

    --checkbox-radius:                0;

    /* --list-indent:                    2em; */

    --embed-border-left: 6px double var(--interactive-accent);
 
    /* Using contanier suggestion from Kapirkla [https://discord.com/channels/686053708261228577/1291469509336502272/1304873870041546782]
     to create container to disable internal task settings and use external set.
       - Disable   : Use alternative checkbox settings (from external snippets CSS)
       - Enable    : Use internal checkbox settings
       - Reference : Use the Reference set by Damian Korcx at https://github.com/damiankorcz/Alternative-Checkboxes-Reference-Set
   */
   --theme-alternative-checkboxes: enable;
}

.theme-dark
{
    --color-red-rgb:                 var(--red_x);
    --color-red:                     var(--red);
    --color-purple-rgb:              var(--purple_x);
    --color-purple:                  var(--purple);
    --color-green-rgb:               var(--green_x);
    --color-green:                   var(--green);
    --color-cyan-rgb:                var(--frost1_x);
    --color-cyan:                    var(--frost1);
    --color-blue-rgb:                var(--frost3_x);
    --color-blue:                    var(--frost3);
    --color-yellow-rgb:              var(--yellow_x);
    --color-yellow:                  var(--yellow);
    --color-orange-rgb:              var(--orange_x);
    --color-orange:                  var(--orange);
    /* --color-pink:                    var(--purple); */

    --background-primary:            var(--dark0);
    --background-primary-alt:        var(--dark0);
    --background-secondary:          var(--dark1);
    --background-secondary-alt:      var(--dark2);
    --background-modifier-border:    var(--dark2);

    --cursor-line-background:        rgba(var(--red_x), 0.2);

    --text-normal:                   var(--light2);
    --text-faint:                    var(--light0);
    --text-muted:                    var(--light1);

    --link-url:                      var(--purple);

    --h1-color:                      var(--red);
    --h2-color:                      var(--yellow);
    --h3-color:                      var(--green);
    --h4-color:                      var(--purple);
    --h5-color:                      var(--frost0);
    --h6-color:                      var(--frost2);

    --text-highlight-bg:             var(--frost1);
    --text-highlight-fg:             var(--dark0);

    --text-accent:                   var(--orange);
    --text-accent-hover:             var(--frost2);

    --tag-color:                     var(--frost0);
    --tag-background:                var(--dark2);
    --tag-background-hover:          var(--dark1);

    --titlebar-text-color-focused:   var(--red);

    --inline-title-color:            var(--yellow);

    --bold-color:                    var(--frost0);
    --italic-color:                  var(--frost2);

    --checkbox-color:                var(--frost0);
    --checkbox-color-hover:          var(--frost0);
    --checkbox-border-color:         var(--frost0);
    --checkbox-border-color-hover:   var(--frost0);
    --checklist-done-color:          rgba(var(--light2_x), 0.5);

    --table-header-background:       hsl(220, 16%, 16%);
    --table-header-background-hover: var(--dark3);
    --table-row-even-background:     hsl(220, 16%, 20%);
    --table-row-odd-background:      hsl(220, 16%, 24%);
    --table-row-background-hover:    var(--dark3);

    --text-selection:                rgba(var(--red_x), 0.6);
    --flashing-background:           rgba(var(--red_x), 0.3);

    --code-normal:                   var(--frost1);
    --code-background:               var(--dark1);

    --mermaid-note:                  var(--frost3);
    --mermaid-loopline:              var(--frost1);
    --mermaid-exclude:               var(--dark3);
    --mermaid-seqnum:                var(--dark0);

    --icon-color-hover:              var(--red);
    --icon-color-focused:            var(--frost2);

    --nav-item-color-hover:          var(--red);
    --nav-item-color-active:         var(--frost2);
    --nav-file-tag:                  rgba(var(--yellow_x), 0.9);

    --graph-line:                    var(--dark3);
    --graph-node:                    var(--light3);
    --graph-node-tag:                var(--red);
    --graph-node-attachment:         var(--green);

    --calendar-hover:                var(--red);
    --calendar-background-hover:     var(--dark3);
    --calendar-week:                 var(--yellow);
    --calendar-today:                var(--yellow);

    --dataview-key:                  var(--text-faint);
    --dataview-key-background:       rgba(var(--frost2_x), 0.3);
    --dataview-value:                var(--text-faint);
    --dataview-value-background:     rgba(var(--red_x), 0.3);

    --tab-text-color-focused-active:         var(--frost2);
    --tab-text-color-focused-active-current: var(--red);
}

.theme-light
{
    --color-red-rgb:                 var(--red_x);
    --color-red:                     var(--red);
    --color-purple-rgb:              var(--purple_x);
    --color-purple:                  var(--purple);
    --color-green-rgb:               var(--green_x);
    --color-green:                   var(--green);
    --color-cyan-rgb:                var(--frost1_x);
    --color-cyan:                    var(--frost1);
    --color-blue-rgb:                var(--frost3_x);
    --color-blue:                    var(--frost3);
    --color-yellow-rgb:              var(--yellow_x);
    --color-yellow:                  var(--yellow);
    --color-orange-rgb:              var(--orange_x);
    --color-orange:                  var(--orange);
    /* --color-pink:                    var(--purple); */

    --background-primary:            var(--light3);
    --background-primary-alt:        var(--light3);
    --background-secondary:          var(--light2);
    --background-secondary-alt:      var(--light1);
    --background-modifier-border:    var(--light1);

    --cursor-line-background:        rgba(var(--red_x), 0.1);

    --text-normal:                   var(--dark2);
    --text-faint:                    var(--dark0);
    --text-muted:                    var(--dark1);

    --link-url:                      var(--purple);

    --h1-color:                      var(--red);
    --h2-color:                      var(--yellow);
    --h3-color:                      var(--green);
    --h4-color:                      var(--purple);
    --h5-color:                      var(--frost0);
    --h6-color:                      var(--frost2);

    --text-highlight-bg:             var(--yellow);
    --text-highlight-fg:             var(--dark0);

    --text-accent:                   var(--orange);
    --text-accent-hover:             var(--frost2);

    --tag-color:                     var(--dark3);
    --tag-background:                var(--light1);
    --tag-background-hover:          var(--light0);

    --titlebar-text-color-focused:   var(--red);

    --inline-title-color:            var(--yellow);

    --bold-color:                    var(--frost3);
    --italic-color:                  var(--frost1);

    --checkbox-color:                var(--frost2);
    --checkbox-color-hover:          var(--frost2);
    --checkbox-border-color:         var(--frost2);
    --checkbox-border-color-hover:   var(--frost2);
    --checklist-done-color:          rgba(var(--dark2_x), 0.4);

    --table-header-background:       rgba(var(--light2_x), 0.2);
    --table-header-background-hover: var(--frost2);
    --table-row-even-background:     rgba(var(--light2_x), 0.4);
    --table-row-odd-background:      rgba(var(--light2_x), 0.8);
    --table-row-background-hover:    var(--frost2);

    --text-selection:                rgba(var(--red_x), 0.6);
    --flashing-background:           rgba(var(--red_x), 0.3);

    --code-normal:                   var(--frost1);
    --code-background:               var(--light2);

    --mermaid-note:                  var(--frost0);
    --mermaid-loopline:              var(--frost1);
    --mermaid-exclude:               var(--light0);
    --mermaid-seqnum:                var(--light0);

    --icon-color-hover:              var(--red);
    --icon-color-focused:            var(--frost3);

    --nav-item-color-hover:          var(--red);
    --nav-item-color-active:         var(--frost2);
    --nav-file-tag:                  rgba(var(--orange_x), 0.9);

    --graph-line:                    var(--light0);
    --graph-node:                    var(--dark3);
    --graph-node-tag:                var(--red);
    --graph-node-attachment:         var(--green);

    --calendar-hover:                var(--red);
    --calendar-background-hover:     var(--light0);
    --calendar-week:                 var(--orange);
    --calendar-today:                var(--orange);

    --dataview-key:                  var(--text-faint);
    --dataview-key-background:       rgba(var(--frost2_x), 0.3);
    --dataview-value:                var(--text-faint);
    --dataview-value-background:     rgba(var(--red_x), 0.3);

    --tab-text-color-focused-active:         var(--frost2);
    --tab-text-color-focused-active-current: var(--red);
}

table
{
    border: 1px solid var(--background-secondary) !important;
    border-collapse: collapse;
}

thead
{
    border-bottom: 2px solid var(--background-modifier-border) !important;
}
  
th
{
    font-weight: 600 !important;
    border: 1px solid var(--background-secondary) !important;
}

td
{
    border-left: 1px solid var(--background-secondary) !important;
    border-right: 1px solid var(--background-secondary) !important;
    border-bottom: 1px solid var(--background-secondary) !important;
}

.markdown-rendered tbody tr:nth-child(even)
{
    background-color: var(--table-row-even-background) !important;
}

.markdown-rendered tbody tr:nth-child(odd)
{
    background-color: var(--table-row-odd-background) !important;
}

.markdown-rendered tbody tr:nth-child(even):hover,
.markdown-rendered tbody tr:nth-child(odd):hover
{
    background-color: var(--table-row-background-hover) !important;
}

.markdown-rendered mark
{
    background-color: var(--text-highlight-bg);
    color: var(--text-highlight-fg);
}

.markdown-rendered mark a
{
    color: var(--red) !important;
    font-weight: 600;
}

.search-result-file-matched-text
{
    color: var(--text-highlight-fg) !important;
}

.cm-hashtag-begin:hover, .cm-hashtag-end:hover
{
    color: var(--text-accent);
    /* background-color: var(--tag-background-hover); */
    text-decoration: underline;
}

/* Adding container around all native Task related settings that can be enabled/disabled or set to the reference list.*/
@container style(--theme-alternative-checkboxes: enable) {
    input[type=checkbox]
    {
        border: 1px solid var(--checkbox-color);
    }

    input[type=checkbox]:checked
    {
        background-color: var(--checkbox-color);
        box-shadow: inset 0 0 0 2px var(--background-primary);
    }

    input[type=checkbox]:checked:after
    {
        display: none;
    }
}

code[class*="language-"],
pre[class*="language-"]
{
    line-height: var(--line-height-tight) !important;
}

.cm-url
{
    color: var(--link-url) !important;
}

.cm-url:hover
{
    color: var(--text-accent-hover) !important;
}

/* Keep highlight/marks the same between viewer and editor. */
.cm-highlight
{
    color: var(--text-highlight-fg) !important;
}

/* Keep inline code the same between viewer and editor. */
.cm-inline-code
{
    border-radius: var(--radius-s);
    font-size: var(--code-size);
    padding: 0.1em 0.25em;
}

.cm-formatting-code + .cm-inline-code
{
    border-radius: 0;
    padding: 0.1em 0;
}

.cm-formatting-code
{
    border-radius: var(--radius-s) 0 0 var(--radius-s);
    padding: 0.1em 0 0.1em 0.25em;
}

.cm-inline-code + .cm-formatting-code
{
    border-radius: 0 var(--radius-s) var(--radius-s) 0;
    padding: 0.1em 0.25em 0.1em 0;
}

.cm-line .cm-strong
{
    color: var(--bold-color) !important;
}

/*
 * Keep list bullet padding the same between viewer and editor.
 * This is annoying with the cursor in the editor as there is a gap.
 */
/*
.cm-formatting-list
{
     padding-right: 4px !important;
}
*/

/*
 * Keep sub-list indenting the same between viewer and editor.
 * This assumes --list-indent is default at 2em.
 */
/*
.cm-indent 
{
    text-indent: 1em !important;
}
*/

.mermaid .note
{
    fill: var(--mermaid-note) !important;
}

.mermaid .loopLine
{
    stroke: var(--mermaid-loopline) !important;
}

.mermaid .loopText>tspan,
.mermaid .entityLabel
{
    fill: var(--red) !important;
}

.mermaid .exclude-range
{
    fill: var(--mermaid-exclude) !important;
}

.mermaid .sequenceNumber
{
    fill: var(--mermaid-seqnum) !important;
}

.calendar .week-num
{
    color: var(--calendar-week) !important;
}

.calendar .today
{
    color: var(--calendar-today) !important;
}

.calendar .week-num:hover,
.calendar .day:hover
{
    color: var(--calendar-hover) !important;
    background-color: var(--calendar-background-hover) !important;
}

.markdown-embed-title
{
    color: var(--yellow);
    font-weight: 600 !important;
}

.cm-active
{
    background-color: var(--cursor-line-background) !important;
}

.nav-file-tag
{
    color: var(--nav-file-tag) !important;
}

.is-flashing
{
    background-color: var(--flashing-background) !important;
}

.dataview.inline-field-key
{
    border-top-left-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);
    padding-left: 4px;
    font-family: var(--font-monospace);
    font-size: var(--font-smaller);
    color: var(--dataview-key) !important;
    background-color: var(--dataview-key-background) !important;
}

.dataview.inline-field-value
{
    border-top-right-radius: var(--radius-s);
    border-bottom-right-radius: var(--radius-s);
    padding-right: 4px;
    font-family: var(--font-monospace);
    font-size: var(--font-smaller);
    color: var(--dataview-value) !important;
    background-color: var(--dataview-value-background) !important;
}

.suggestion-highlight
{
    color: var(--red);
}

/* Adding container around all native Task related settings that can be enabled/disabled or set to the reference list.  */
@container style(--theme-alternative-checkboxes: reference) {
/*
    Alternative Checkboxes Reference Set (WIP - Implementation not finalised / USE FOR TESTING ONLY) 
    
    Initiative Repository: https://github.com/damiankorcz/Alternative-Checkboxes-Reference-Set
    Usage Guide: https://github.com/damiankorcz/Alternative-Checkboxes-Reference-Set/blob/main/Usage%20Guide.md

    The following CSS Snippet is designed to serve as a Reference for how to implement the commonly used
    Alternative Checkboxes feature in themes and CSS Snippets. The Checkbox syntax in conjunction with the
    meaning are based on the same set as the Minimal theme since that is the most common set among all themes
    which implement the feature.

    More on that here:
    https://github.com/damiankorcz/Alternative-Checkboxes-Reference-Set/blob/main/06%20Syntax%20and%20Meaning%20Review.md

    The icon set used for this Reference Set is Lucide (same icon set as used in the Obsidian UI). Lucide icons are
    distributed under the ISC License: https://lucide.dev/license

    Each icon uses the `Copy Data URL` option on the website which provides a Base64 embeded SVG for the icon.
    Properties for the Lucide icons used:
    - Stroke width = 1.75px
    - Size = 16px
    - Absolute Stroke width = on
*/

/* - [/] Incomplete */
div.HyperMD-task-line[data-task="/"],
ul > li[data-task="/"] {
    /* Icon used: https://lucide.dev/icons/square-dashed */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNxdWFyZS1kYXNoZWQiPjxwYXRoIGQ9Ik01IDNhMiAyIDAgMCAwLTIgMiIvPjxwYXRoIGQ9Ik0xOSAzYTIgMiAwIDAgMSAyIDIiLz48cGF0aCBkPSJNMjEgMTlhMiAyIDAgMCAxLTIgMiIvPjxwYXRoIGQ9Ik01IDIxYTIgMiAwIDAgMS0yLTIiLz48cGF0aCBkPSJNOSAzaDEiLz48cGF0aCBkPSJNOSAyMWgxIi8+PHBhdGggZD0iTTE0IDNoMSIvPjxwYXRoIGQ9Ik0xNCAyMWgxIi8+PHBhdGggZD0iTTMgOXYxIi8+PHBhdGggZD0iTTIxIDl2MSIvPjxwYXRoIGQ9Ik0zIDE0djEiLz48cGF0aCBkPSJNMjEgMTR2MSIvPjwvc3ZnPg==");
}

/* - [-] Cancelled */
div.HyperMD-task-line[data-task="-"],
ul > li[data-task="-"] {
    /* Icon used: https://lucide.dev/icons/ban */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1iYW4iPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PHBhdGggZD0ibTQuOSA0LjkgMTQuMiAxNC4yIi8+PC9zdmc+");
}

/* - [>] Forwarded */
div.HyperMD-task-line[data-task=">"],
ul > li[data-task=">"] {
    /* Icon used: https://lucide.dev/icons/send-horizontal */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZW5kLWhvcml6b250YWwiPjxwYXRoIGQ9Ik0zLjcxNCAzLjA0OGEuNDk4LjQ5OCAwIDAgMC0uNjgzLjYyN2wyLjg0MyA3LjYyN2EyIDIgMCAwIDEgMCAxLjM5NmwtMi44NDIgNy42MjdhLjQ5OC40OTggMCAwIDAgLjY4Mi42MjdsMTgtOC41YS41LjUgMCAwIDAgMC0uOTA0eiIvPjxwYXRoIGQ9Ik02IDEyaDE2Ii8+PC9zdmc+");
}

/* - [<] Scheduling */
div.HyperMD-task-line[data-task="<"],
ul > li[data-task="<"] {
    /* Icon used: https://lucide.dev/icons/calendar */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jYWxlbmRhciI+PHBhdGggZD0iTTggMnY0Ii8+PHBhdGggZD0iTTE2IDJ2NCIvPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgeD0iMyIgeT0iNCIgcng9IjIiLz48cGF0aCBkPSJNMyAxMGgxOCIvPjwvc3ZnPg==");
}

/* - [?] Question */
div.HyperMD-task-line[data-task="?"],
ul > li[data-task="?"] {
    /* Icon used: https://lucide.dev/icons/circle-help */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtaGVscCI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz48cGF0aCBkPSJNOS4wOSA5YTMgMyAwIDAgMSA1LjgzIDFjMCAyLTMgMy0zIDMiLz48cGF0aCBkPSJNMTIgMTdoLjAxIi8+PC9zdmc+");
}

/* - [!] Important */
div.HyperMD-task-line[data-task="!"],
ul > li[data-task="!"] {
    /* Icon used: https://lucide.dev/icons/triangle-alert */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10cmlhbmdsZS1hbGVydCI+PHBhdGggZD0ibTIxLjczIDE4LTgtMTRhMiAyIDAgMCAwLTMuNDggMGwtOCAxNEEyIDIgMCAwIDAgNCAyMWgxNmEyIDIgMCAwIDAgMS43My0zIi8+PHBhdGggZD0iTTEyIDl2NCIvPjxwYXRoIGQ9Ik0xMiAxN2guMDEiLz48L3N2Zz4=");
}

/* - [*] Star */
div.HyperMD-task-line[data-task="*"],
ul > li[data-task="*"] {
    /* Icon used: https://lucide.dev/icons/star */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zdGFyIj48cG9seWdvbiBwb2ludHM9IjEyIDIgMTUuMDkgOC4yNiAyMiA5LjI3IDE3IDE0LjE0IDE4LjE4IDIxLjAyIDEyIDE3Ljc3IDUuODIgMjEuMDIgNyAxNC4xNCAyIDkuMjcgOC45MSA4LjI2IDEyIDIiLz48L3N2Zz4=");
}

/* - [>] Quote */
div.HyperMD-task-line[data-task="\""],
ul > li[data-task="\""] {
    /* Icon used: https://lucide.dev/icons/quote */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1xdW90ZSI+PHBhdGggZD0iTTE2IDNhMiAyIDAgMCAwLTIgMnY2YTIgMiAwIDAgMCAyIDIgMSAxIDAgMCAxIDEgMXYxYTIgMiAwIDAgMS0yIDIgMSAxIDAgMCAwLTEgMXYyYTEgMSAwIDAgMCAxIDEgNiA2IDAgMCAwIDYtNlY1YTIgMiAwIDAgMC0yLTJ6Ii8+PHBhdGggZD0iTTUgM2EyIDIgMCAwIDAtMiAydjZhMiAyIDAgMCAwIDIgMiAxIDEgMCAwIDEgMSAxdjFhMiAyIDAgMCAxLTIgMiAxIDEgMCAwIDAtMSAxdjJhMSAxIDAgMCAwIDEgMSA2IDYgMCAwIDAgNi02VjVhMiAyIDAgMCAwLTItMnoiLz48L3N2Zz4=");
}

/* - [l] Location */
div.HyperMD-task-line[data-task="l"],
ul > li[data-task="l"] {
    /* Icon used: https://lucide.dev/icons/map-pin */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA0Ljk5My01LjUzOSAxMC4xOTMtNy4zOTkgMTEuNzk5YTEgMSAwIDAgMS0xLjIwMiAwQzkuNTM5IDIwLjE5MyA0IDE0Ljk5MyA0IDEwYTggOCAwIDAgMSAxNiAwIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==");
}

/* - [b] Bookmark */
div.HyperMD-task-line[data-task="b"],
ul > li[data-task="b"] {
    /* Icon used: https://lucide.dev/icons/bookmark */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1ib29rbWFyayI+PHBhdGggZD0ibTE5IDIxLTctNC03IDRWNWEyIDIgMCAwIDEgMi0yaDEwYTIgMiAwIDAgMSAyIDJ2MTZ6Ii8+PC9zdmc+");
}

/* - [i] Information */
div.HyperMD-task-line[data-task="i"],
ul > li[data-task="i"] {
    /* Icon used: https://lucide.dev/icons/info */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1pbmZvIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwYXRoIGQ9Ik0xMiAxNnYtNCIvPjxwYXRoIGQ9Ik0xMiA4aC4wMSIvPjwvc3ZnPg==");
}

/* - [S] Savings */
div.HyperMD-task-line[data-task="S"],
ul > li[data-task="S"] {
    /* Icon used: https://lucide.dev/icons/dollar-sign */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWRvbGxhci1zaWduIj48bGluZSB4MT0iMTIiIHgyPSIxMiIgeTE9IjIiIHkyPSIyMiIvPjxwYXRoIGQ9Ik0xNyA1SDkuNWEzLjUgMy41IDAgMCAwIDAgN2g1YTMuNSAzLjUgMCAwIDEgMCA3SDYiLz48L3N2Zz4=");
}

/* - [I] Idea */
div.HyperMD-task-line[data-task="I"],
ul > li[data-task="I"] {
    /* Icon used: https://lucide.dev/icons/lightbulb */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1saWdodGJ1bGIiPjxwYXRoIGQ9Ik0xNSAxNGMuMi0xIC43LTEuNyAxLjUtMi41IDEtLjkgMS41LTIuMiAxLjUtMy41QTYgNiAwIDAgMCA2IDhjMCAxIC4yIDIuMiAxLjUgMy41LjcuNyAxLjMgMS41IDEuNSAyLjUiLz48cGF0aCBkPSJNOSAxOGg2Ii8+PHBhdGggZD0iTTEwIDIyaDQiLz48L3N2Zz4=");
}

/* - [p] Pros */
div.HyperMD-task-line[data-task="p"],
ul > li[data-task="p"] {
    /* Icon used: https://lucide.dev/icons/thumbs-up */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10aHVtYnMtdXAiPjxwYXRoIGQ9Ik03IDEwdjEyIi8+PHBhdGggZD0iTTE1IDUuODggMTQgMTBoNS44M2EyIDIgMCAwIDEgMS45MiAyLjU2bC0yLjMzIDhBMiAyIDAgMCAxIDE3LjUgMjJINGEyIDIgMCAwIDEtMi0ydi04YTIgMiAwIDAgMSAyLTJoMi43NmEyIDIgMCAwIDAgMS43OS0xLjExTDEyIDJhMy4xMyAzLjEzIDAgMCAxIDMgMy44OFoiLz48L3N2Zz4=");
}

/* - [c] Cons */
div.HyperMD-task-line[data-task="c"],
ul > li[data-task="c"] {
    /* Icon used: https://lucide.dev/icons/thumbs-down */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10aHVtYnMtZG93biI+PHBhdGggZD0iTTE3IDE0VjIiLz48cGF0aCBkPSJNOSAxOC4xMiAxMCAxNEg0LjE3YTIgMiAwIDAgMS0xLjkyLTIuNTZsMi4zMy04QTIgMiAwIDAgMSA2LjUgMkgyMGEyIDIgMCAwIDEgMiAydjhhMiAyIDAgMCAxLTIgMmgtMi43NmEyIDIgMCAwIDAtMS43OSAxLjExTDEyIDIyYTMuMTMgMy4xMyAwIDAgMS0zLTMuODhaIi8+PC9zdmc+");
}

/* - [f] Fire */
div.HyperMD-task-line[data-task="f"],
ul > li[data-task="f"] {
    /* Icon used: https://lucide.dev/icons/flame */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1mbGFtZSI+PHBhdGggZD0iTTguNSAxNC41QTIuNSAyLjUgMCAwIDAgMTEgMTJjMC0xLjM4LS41LTItMS0zLTEuMDcyLTIuMTQzLS4yMjQtNC4wNTQgMi02IC41IDIuNSAyIDQuOSA0IDYuNSAyIDEuNiAzIDMuNSAzIDUuNWE3IDcgMCAxIDEtMTQgMGMwLTEuMTUzLjQzMy0yLjI5NCAxLTNhMi41IDIuNSAwIDAgMCAyLjUgMi41eiIvPjwvc3ZnPg==");
}

/* - [k] Key */
div.HyperMD-task-line[data-task="k"],
ul > li[data-task="k"] {
    /* Icon used: https://lucide.dev/icons/key-round */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1rZXktcm91bmQiPjxwYXRoIGQ9Ik0yLjU4NiAxNy40MTRBMiAyIDAgMCAwIDIgMTguODI4VjIxYTEgMSAwIDAgMCAxIDFoM2ExIDEgMCAwIDAgMS0xdi0xYTEgMSAwIDAgMSAxLTFoMWExIDEgMCAwIDAgMS0xdi0xYTEgMSAwIDAgMSAxLTFoLjE3MmEyIDIgMCAwIDAgMS40MTQtLjU4NmwuODE0LS44MTRhNi41IDYuNSAwIDEgMC00LTR6Ii8+PGNpcmNsZSBjeD0iMTYuNSIgY3k9IjcuNSIgcj0iLjUiIGZpbGw9ImN1cnJlbnRDb2xvciIvPjwvc3ZnPg==");
}

/* - [w] Win */
div.HyperMD-task-line[data-task="w"],
ul > li[data-task="w"] {
    /* Icon used: https://lucide.dev/icons/trophy */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10cm9waHkiPjxwYXRoIGQ9Ik02IDlINC41YTIuNSAyLjUgMCAwIDEgMC01SDYiLz48cGF0aCBkPSJNMTggOWgxLjVhMi41IDIuNSAwIDAgMCAwLTVIMTgiLz48cGF0aCBkPSJNNCAyMmgxNiIvPjxwYXRoIGQ9Ik0xMCAxNC42NlYxN2MwIC41NS0uNDcuOTgtLjk3IDEuMjFDNy44NSAxOC43NSA3IDIwLjI0IDcgMjIiLz48cGF0aCBkPSJNMTQgMTQuNjZWMTdjMCAuNTUuNDcuOTguOTcgMS4yMUMxNi4xNSAxOC43NSAxNyAyMC4yNCAxNyAyMiIvPjxwYXRoIGQ9Ik0xOCAySDZ2N2E2IDYgMCAwIDAgMTIgMFYyWiIvPjwvc3ZnPg==");
}

/* - [u] Up */
div.HyperMD-task-line[data-task="u"],
ul > li[data-task="u"] {
    /* Icon used: https://lucide.dev/icons/trending-up */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10cmVuZGluZy11cCI+PHBvbHlsaW5lIHBvaW50cz0iMjIgNyAxMy41IDE1LjUgOC41IDEwLjUgMiAxNyIvPjxwb2x5bGluZSBwb2ludHM9IjE2IDcgMjIgNyAyMiAxMyIvPjwvc3ZnPg==");
}

/* - [d] Down */
div.HyperMD-task-line[data-task="d"],
ul > li[data-task="d"] {
    /* Icon used: https://lucide.dev/icons/trending-down */
    --icon-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjYyNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS10cmVuZGluZy1kb3duIj48cG9seWxpbmUgcG9pbnRzPSIyMiAxNyAxMy41IDguNSA4LjUgMTMuNSAyIDciLz48cG9seWxpbmUgcG9pbnRzPSIxNiAxNyAyMiAxNyAyMiAxMSIvPjwvc3ZnPg==");
}

/*
    Custom Default Variables - Reduces repetition and simplifies the implementation above.
    If you want different defaults for all Alternative Checkboxes you can change them here. 
*/
.HyperMD-task-line:not([data-task="x"], [data-task=" "]),
li:not([data-task="x"], [data-task=" "]) {
    --icon-color: var(--text-normal);
    --icon-background-color: transparent;
    --icon-background-color-hover: transparent;

    --icon-method: mask;

    --icon-mask-position: center;
    --icon-mask-size: contain;

    --icon-mask-image: unset;
    
    --icon-content: "";
    --icon-content-weight: var(--font-bold);
    --icon-content-font: var(--font-monospace);

    --checkbox-border: unset;
    --checkbox-border-radius: unset;
}

div.is-live-preview input[type="checkbox"]:not([data-task="x"], [data-task=" "]),
li:not([data-task="x"], [data-task=" "]) > input[type="checkbox"],
li:not([data-task="x"], [data-task=" "]) > p > input[type="checkbox"] {
    &:checked {
        --checkbox-marker-color: transparent;
        border: var(--checkbox-border);
        border-radius: var(--checkbox-border-radius);
        background-image: none;
        background-color: var(--icon-background-color);

        &:hover {
            background-color: var(--icon-background-color-hover);
        }
    }
}

@container style(--icon-method: mask) {
    div.is-live-preview input[type="checkbox"]:not([data-task="x"], [data-task=" "]),
    li:not([data-task="x"], [data-task=" "]) > input[type="checkbox"],
    li:not([data-task="x"], [data-task=" "]) > p > input[type="checkbox"] {
        &:checked::after {
            background-color: var(--icon-color);
            -webkit-mask-image: var(--icon-mask-image);
            -webkit-mask-size: var(--icon-mask-size);
            -webkit-mask-position: var(--icon-mask-position);
            
            /* Allows icons to remain scaled correctly within the checkbox when using a border */
            width: -webkit-fill-available;
            width: fill-available; /* Creates a fallback for Safari */
            height: -webkit-fill-available;
            height: fill-available; /* Creates a fallback for Safari */
        }
    }
}

@container style(--icon-method: content) {
    div.is-live-preview input[type="checkbox"]:not([data-task="x"], [data-task=" "]),
    li:not([data-task="x"], [data-task=" "]) > input[type="checkbox"],
    li:not([data-task="x"], [data-task=" "]) > p > input[type="checkbox"] {
        &:checked::after {
            text-align: center;
            -webkit-mask-image: none;
            line-height: var(--checkbox-size);
            content: var(--icon-content);
            color: var(--icon-color);

            font-size: calc(var(--checkbox-size) - 2px);
            font-weight: var(--icon-content-weight);
            font-family: var(--icon-content-font);

            /* Allows icons to remain scaled correctly within the checkbox when using a border */
            width: -webkit-fill-available;
            width: fill-available; /* Creates a fallback for Safari */
            height: -webkit-fill-available;
            height: fill-available; /* Creates a fallback for Safari */
        }
    }
}
}
